body{
  background-image: url("https://wallpapercave.com/wp/wp1839968.png");
  background-size: cover;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box{
  width: 40%;
  margin: 0 auto;
  margin-top: 27rem;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #7d0b02;
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quote{
  color: #d1ca00;
  font-size: 1.4rem;
  font-style: italic;
}
.btn{
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
